{% extends "layout.html"%}
{% block title %}
Student Flask App with CRUD
{% endblock %}
{% block content %}
<div class="container">
    <div class="row text-center">
        <div class="col-md-6">
            <h1> Lucas Pierce</h1>
            <p style="font-size:150%"> This is my personal website, created for HW1 of Dr. Nick Allgood's Software Engineering Course (CMSC 447)</p>
        </div>
        <div class="col-md-6">
            <h1> Lucas Pierce</h1>
        </div>
    </div>
</div>
{% endblock %}
